@tailwind base;
@tailwind components;
@tailwind utilities;

.typing {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s, blink 0.5s step-end;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid black;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
